	h1{font-size: 15px;
	text-align: right;
	font-family: Calibri ;
	line-height: 5px;
	word-spacing: 20px;
	margin: 20px;
	margin-right: 40px;
	}

	p{text-align: center;
	line-height: 5px;
	margin:100px;
	}